/Memory/nbproject/private/
/nbproject/private/
/src/exemples de codi utils/LecturaLTGraficos/build/
/src/exemples de codi utils/LecturaLTGraficos/nbproject/private/
/src/exemples de codi utils/PulsadorConEstadosVisibles/build/
/src/exemples de codi utils/PulsadorConEstadosVisibles/nbproject/private/
/src/exemples de codi utils/ReproductorSonidos/build/
/src/exemples de codi utils/ReproductorSonidos/nbproject/private/
/src/exemples de codi utils/TableroConGiroAnimadoDeCasillas/build/
/src/exemples de codi utils/TableroConGiroAnimadoDeCasillas/nbproject/private/
/src/exemples de codi utils/TableroConGiroDeCasillas/nbproject/private/
/src/exemples de codi utils/barraProgresionTemporal/build/
/src/exemples de codi utils/barraProgresionTemporal/nbproject/private/
/src/exemples de codi utils/TableroConGiroDeCasillas/build/
/build/
/dist/
/TicTacToe/nbproject/private/
/TicTacToe/build/
