/Memory/nbproject/private/
/nbproject/private/
/src/exemples de codi utils/LecturaLTGraficos/build/
/src/exemples de codi utils/LecturaLTGraficos/nbproject/private/
/src/exemples de codi utils/PulsadorConEstadosVisibles/build/
/src/exemples de codi utils/PulsadorConEstadosVisibles/nbproject/private/
/src/exemples de codi utils/ReproductorSonidos/build/
/src/exemples de codi utils/ReproductorSonidos/nbproject/private/
/src/exemples de codi utils/TableroConGiroAnimadoDeCasillas/build/
/src/exemples de codi utils/TableroConGiroAnimadoDeCasillas/nbproject/private/
/src/exemples de codi utils/TableroConGiroDeCasillas/nbproject/private/
/src/exemples de codi utils/barraProgresionTemporal/build/
/src/exemples de codi utils/barraProgresionTemporal/nbproject/private/
/src/exemples de codi utils/TableroConGiroDeCasillas/build/
/build/
/dist/
/TicTacToe/nbproject/private/
/TicTacToe/build/
/Ejemplos de Codigo/LecturaLTGraficos/nbproject/private/
/Ejemplos de Codigo/ReproductorSonidos/nbproject/private/
/Ejemplos de Codigo/TableroConGiroAnimadoDeCasillas/build/
/Ejemplos de Codigo/TableroConGiroAnimadoDeCasillas/nbproject/private/
/Ejemplos de Codigo/TableroConGiroDeCasillas/build/
/Ejemplos de Codigo/TableroConGiroDeCasillas/nbproject/private/
/Ejemplos de Codigo/barraProgresionTemporal/build/
/Ejemplos de Codigo/barraProgresionTemporal/nbproject/private/
/NivellsArbres/nbproject/private/
/NivellsArbres/build/
/TestingFitxers/nbproject/private/
/Ejemplos de Codigo/TestingFitxers/nbproject/private/
/Ejemplos de Codigo/TestingFitxers/build/
/Ejemplos de Codigo/TestingFitxers/dist/
/Ejemplos de Codigo/TableroConGiroAnimadoDeCasillas/dist/
